.app {
  padding: 28px 32px;
  width: '100%';
  background: #f9fafc;
 
}
table {
  /* border-spacing: 2px !important; */
  /* border-collapse: separate !important; */
  /* border-collapse: collapse; */
}
th, td {
  background: #e2e2e2 !important;
}

table td {
  /* border: 1px solid #999; */
  width: 80px;
  height: 40px;
  /* margin: 10px; */
  border-collapse: collapse;
}

td.selected {
  background-color: green !important;
}

.selected {
  background-color: green !important;
}

